@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&family=Lilita+One&family=Montserrat&family=Poppins:wght@100;200&display=swap');

.App {
  background-color: #2a2e35;
  margin: 0 auto;
  width:75%;
  height:100vh;
  text-align: center;
  background-image: url("./Quiz.jpg");
  border-radius: 15%;
}


.question-count {
    font-size: 3em;
    font-weight: bold;
    font-family: 'Ibarra Real Nova', cursive;
    color:#212325;
    width:25%;
    position: relative;
    top:30px;
    margin: 0 auto;
}

  .answer-question {
    display:grid;
    width:50%;
    margin:0 auto;
    padding:80px;
}

  .question-text {
    font-size: 3em;
    position:relative;
    top:80px;
    font-family: 'Lilita One';
    color:#111010;
    margin: 0 auto;
}

  .arrow-questions {
    display:flex;
    justify-content: space-between;
}


  .nextLeft {
    border-radius: 50%;
    position: relative;
    left:20px;
    bottom: 39px;
}

  .nextRight {
    border-radius: 50%;
    position: relative;
    right:20px;
    bottom:39px;
    transform: rotate(180deg);
}


.answerBtn {
  background-color: #ced4da;
  border-radius: 10%;
  width:175px;
  height:50px;
  width:15%;
  margin:0 auto;
  position:relative;
  top:150px;
  padding:10px;
}
  




