@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&family=Montserrat&family=Poppins:wght@100;200&display=swap');

.App {
  background-color: #2a2e35;
  margin: 0 auto;
  width:75%;
  height:100vh;
  text-align: center;
  background-image: url("./Quiz.jpg");
  border-radius: 16px;
  
}

.quiz {
  font-family: 'Poppins';
  font-weight:bold ;
  font-size: 2.6em;
  color:#183149;
}

.question-count {
    font-size: 2.4em;
    font-weight: bold;
    font-family: 'Lilita One', cursive;
    background-color: #2a2e35;
    color:#fff;
  }

  .answer-question {
    display:grid;
    width:50%;
    margin:0 auto;
    padding:80px;
  }

  .question-text {
    font-size: 2.2em;
    position:relative;
    top:228px;
  }

  .arrow-questions {
    display:flex;
    justify-content: space-between;
  }


  .nextLeft {
    border-radius: 50%;
    position: relative;
    left:100px;
}

  .nextRight {
    border-radius: 50%;
    position: relative;
    right:100px;
    transform: rotate(180deg);
}

  




